<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinstagram Register Page</title>
    <span><link rel="stylesheet" href="css/style.css"></span>
</head>

<body>
<div class="box">
    <div class="form">
        <form method="post" action="/register">
            <h2>Kayıt ol</h2>
            <div class="inputBox">
                <input type="text" name="username" required="required">
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="email" name="email" required="required">
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" name="password" required="required">
                <span>Password</span>
                <i></i>
            </div>
            <div class="inputBox">
                <label style="color:gray" for="gender">Cinsiyet:</label>
                <select style="border-radius:8px" name="gender" id="gender">
                    <option value="ERKEK">Erkek</option>
                    <option value="KADIN">Kadın</option>
                </select>
            </div>
            <br>
            <input type="submit" value="Kayıt ol">
            <div class="links">
                <a href="index.html">Ana Sayfa</a>
            </div>
        </form>
    </div>
</div>

</body>

</html>